language: rust

matrix:
  include:
  - rust: 1.30.0
  - rust: stable
  - rust: beta
  - rust: nightly
    env: ALLOW_FAILURES=true
  - os: osx
  - env: TARGET=x86_64-unknown-freebsd
  - env: TARGET=i686-unknown-freebsd
  - env: TARGET=i686-unknown-linux-gnu
script:
  - cargo build --verbose --all
  - cargo test --verbose --all
