[package]
name = "lambda_http"
version = "0.2.0-beta.1"
authors = ["Doug Tangren"]
edition = "2018"
description = "Application Load Balancer and API Gateway event types for AWS Lambda"
keywords = ["AWS", "Lambda", "APIGateway", "ALB", "API"]
license = "Apache-2.0"
homepage = "https://github.com/awslabs/aws-lambda-rust-runtime"
repository = "https://github.com/awslabs/aws-lambda-rust-runtime"
documentation = "https://docs.rs/lambda_runtime"
readme = "../README.md"

[badges]
travis-ci = { repository = "awslabs/aws-lambda-rust-runtime" }
maintenance = { status = "actively-developed" }

[dependencies]
base64 = "0.12"
http = "0.2"
lambda = { path = "../lambda", version = "0.1" }
lambda-attributes = { path = "../lambda-attributes", version = "0.1" }
serde = { version = "^1", features = ["derive"] }
serde_json = "^1"
serde_urlencoded = "0.6"

[dev-dependencies]
log = "^0.4"
maplit = "1.0"
tokio = { version = "0.2", features = ["macros"] }
