[package]
name = "lambda_http"
version = "0.5.2"
authors = ["Doug Tangren"]
edition = "2018"
description = "Application Load Balancer and API Gateway event types for AWS Lambda"
keywords = ["AWS", "Lambda", "APIGateway", "ALB", "API"]
license = "Apache-2.0"
homepage = "https://github.com/awslabs/aws-lambda-rust-runtime"
repository = "https://github.com/awslabs/aws-lambda-rust-runtime"
documentation = "https://docs.rs/lambda_runtime"
categories = ["web-programming::http-server"]
readme = "../README.md"

[features]
default = ["apigw_rest", "apigw_http", "apigw_websockets", "alb"]
apigw_rest = []
apigw_http = []
apigw_websockets = []
alb = []

[dependencies]
base64 = "0.13.0"
bytes = "1"
http = "0.2"
http-body = "0.4"
hyper = "0.14"
lambda_runtime = { path = "../lambda-runtime", version = "0.5" }
serde = { version = "^1", features = ["derive"] }
serde_json = "^1"
serde_urlencoded = "0.7.0"
query_map = { version = "0.5", features = ["url-query"] }

[dependencies.aws_lambda_events]
version = "^0.6.3"
default-features = false
features = ["alb", "apigw"]

[dev-dependencies]
log = "^0.4"
maplit = "1.0"
tokio = { version = "1.0", features = ["macros"] }

