[package]
name = "lambda_http"
version = "0.9.1"
authors = [
    "David Calavera <dcalaver@amazon.com>",
    "Harold Sun <sunhua@amazon.com>",
]
edition = "2021"
description = "Application Load Balancer and API Gateway event types for AWS Lambda"
keywords = ["AWS", "Lambda", "APIGateway", "ALB", "API"]
license = "Apache-2.0"
homepage = "https://github.com/awslabs/aws-lambda-rust-runtime"
repository = "https://github.com/awslabs/aws-lambda-rust-runtime"
documentation = "https://docs.rs/lambda_runtime"
categories = ["web-programming::http-server"]
readme = "README.md"

[features]
default = ["apigw_rest", "apigw_http", "apigw_websockets", "alb"]
apigw_rest = []
apigw_http = []
apigw_websockets = []
alb = []
pass_through = []

[dependencies]
base64 = { workspace = true }
bytes = { workspace = true }
encoding_rs = "0.8"
futures = { workspace = true }
futures-util = { workspace = true }
http = { workspace = true }
http-body = { workspace = true }
http-body-util = { workspace = true }
hyper = { workspace = true }
lambda_runtime = { version = "0.9", path = "../lambda-runtime" }
mime = "0.3"
percent-encoding = "2.2"
pin-project-lite = { workspace = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["raw_value"] }
serde_urlencoded = "0.7"
tokio-stream = "0.1.2"
url = "2.2"

[dependencies.aws_lambda_events]
path = "../lambda-events"
version = "0.13"
default-features = false
features = ["alb", "apigw"]

[dev-dependencies]
lambda_runtime_api_client = { version = "0.9", path = "../lambda-runtime-api-client" }
log = "^0.4"
maplit = "1.0"
tokio = { version = "1.0", features = ["macros"] }
