[package]
name = "opentelemetry-tracing"
version = "0.1.0"
edition = "2021"

[dependencies]
lambda_runtime = { path = "../../lambda-runtime", features = ["opentelemetry"] }
opentelemetry-semantic-conventions = "0.27"
opentelemetry = "0.27"
opentelemetry_sdk = { version = "0.27", features = ["rt-tokio"] }
opentelemetry-stdout = { version = "0.27", features = ["trace"] }
pin-project = "1"
serde_json = "1.0"
tokio = "1"
tower = "0.5"
tracing = "0.1"
tracing-opentelemetry = "0.28"
tracing-subscriber = "0.3"
