[package]
name = "lambda"
version = "0.1.0"
authors = ["David Barsky <dbarsky@amazon.com>"]
edition = "2018"

[dependencies]
tokio = { version = "0.2.4", features = ["full"] }
hyper = "0.13"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0.39"
tower-service = "0.3"
bytes = "0.5"
http = "0.2"
lambda-attributes = { path = "../lambda-attributes", version = "0.1.0" }
pin-project = "0.4.6"
futures = "0.3.1"
