[package]
name = "lambda_runtime"
version = "0.1.0"
authors = ["Stefano Buliani", "David Barsky"]
description = "Rust runtime for AWS Lambda"
keywords = ["AWS", "Lambda", "Runtime", "Rust"]
license = "Apache-2.0"
build = "build.rs"

[dependencies]
serde = "^1"
serde_json = "^1"
serde_derive = "^1"
log = "^0.4"
hyper = "^0.12"
tokio = "^0.1"
backtrace = "^0.3"
lambda_runtime_client = { path = "../lambda-runtime-client"}
libc = "^0.2"
simple_logger = "^1"

[dev-dependencies]
hyper-tls = "^0.3"
rusoto_core = "^0.35"
rusoto_dynamodb = "^0.35"
skeptic = "^0.13"

[build-dependencies]
skeptic = "^0.13"